/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain)*/
// // RESET CSS // /
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}body{line-height:1}
// // // // // // //
// // Variables // /
// // // // // // //
$container-width-desktop: 85%;
$container-width-mobile: 95%;

// $container-max-width: 1150px;

$section-min-height: 100vh;

$color-primary: #FFFFFF;
$color-secondary: #000000;
$color-tertiary: #FDC935; 

$background-primary: #FFD433;
$background-secondary: #1E1E1E;

$font-family-primary: 'canada-type-gibson', sans-serif;
$font-size-title: 8vw;
$font-size-subtitle: 4vw;
$font-size-text: 20px;

$transition-primary: all 0.3s ease-in-out;
$transition-secondary: all 0.2s ease-in-out;

$shadow-primary: 0 0 10px rgba(0, 0, 0, 0.1);

$media-query: 750px;
// // // // // // //
img{object-fit: cover;}
a{text-decoration: none; color: inherit;}
ol,ul{list-style:none}
h1, h2, h3, h4, p, a, li {font-family: $font-family-primary;}
// // // // // // //
// //     BG   // //
// // // // // // //
.background{
   &::before{
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      width: 100vw;
      height: 100vh;
   }
   &-primary{
      &::before{
         background: $background-primary;
      }
   }
   &-secondary{
      &::before{
         background: $background-secondary;
      }
   }
}
// // // // // // //
// // HEAD NAV // //
// // // // // // //
header{
   margin: auto;
   width: $container-width-desktop;
   @media screen and (max-width: $media-query){
      width: $container-width-mobile;
   }

   height: 20vh;
   min-height: 100px;

   display: flex;
   justify-content: space-between;
   align-items: center;
   h1{
      span{
         display: block;
      }
   }
}
nav{
   ul{
      display: flex;
      column-gap: 5vw;
      align-items: center;
      li{
         font-size: $font-size-text;
         color: $color-secondary;
         transition: $transition-secondary;
         &:hover{
            color: $color-primary;
         }
      }
   }
}
#hero{
   margin: auto;
   width: $container-width-desktop;
   @media screen and (max-width: $media-query){
      width: $container-width-mobile;
   }

   height: 80vh;
   min-height: 300px; // VALEUR A MODIFIER ///////////////////////////////////////////////////////////////

   color: $color-primary;
   h1{
      text-transform: uppercase;
      font-size: $font-size-title;
      font-weight: bold;
      line-height: 1.15;
      letter-spacing: 2px;
   }
   p{
      width: 60%;
      font-size: $font-size-text;
      padding: 0 0 10px 0;
   }
}
// // // // // // //
// //   section   // 
// // // // // // //
.section{
   &__title{
      font-size: $font-size-subtitle;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      padding: 50px 0;
      color: $color-primary;
      span{
         font-size: ($font-size-subtitle + 0.75vw);
         letter-spacing: 4px;
         display: block;
         color: transparent;
         -webkit-text-stroke: 1px $color-tertiary;
         text-stroke: 1px $color-tertiary;
      }
   }
   &__cont{
      margin: auto;
      width: $container-width-desktop;
      @media screen and (max-width: $media-query){
         width: $container-width-mobile;
      }
      height: 100vh;
      min-height: 300px;
   }
   &__transition{
   height: 40vh;
      &-logo{
         background-image: url(../assets/banner-transition-logo.svg);
         background-size: fill;
         background-color: $background-secondary;
         &::before{
            content: "";
            position: absolute;
            z-index: 3;
            width: 100%;
            height: 40vh;
            background: linear-gradient(0deg, $background-secondary 25%, transparent 80%);
         }
      }
      &-background{
         background-color: red;
      }
   }
}
// // // // // // //
// //   about  // //
// // // // // // //
#about{
}
.about__cont{
   display: flex;
   min-height: 50vh;
   align-items: center;
   @media screen and (max-width: $media-query){
      flex-direction: column;
      row-gap: 40px;
   }
   &-txt{
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      width: 50%;
      color: $color-primary;
      font-size: $font-size-text;
      @media screen and (max-width: $media-query){
         width: auto;
      }
   }
   &-img{
      display: flex;
      justify-content: center;
      width: 50%;
      @media screen and (max-width: $media-query){
         width: auto;
      }
      img{
         width: 55%;
         border-radius: 0 30px 0 30px;
         @media screen and (max-width: $media-query){
            width: 90%;
         }
      }
   }
}



// // // // // // //
// //   work   // //
// // // // // // //
#work{
}
.padding__top-none{
   padding-top: 0 !important;
}
.work{
   &__cont{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 30px;
      column-gap: 5px;
      margin: 0 100px;
      @media screen and (max-width: $media-query){
         justify-content: center;
      }
   }
   &__card{
      width: 30%;
      &:hover{
         .work__card-img img{
            transform: scale(1.7);
         }
         .work__card-img::after{
            opacity: 1;
         }
         .work__card-txt span{
            transform: rotate(0deg);
         }
      }
      @media screen and (max-width: $media-query){
         width: 90%;
      }
      &-img{
         width: 100%;
         height: 150px;
         overflow: hidden;
         img{
            width: 100%;
            height: 100%;
            transition: $transition-primary;
         }
         &::after{
            content: "En savoir plus";
            text-transform: uppercase;
            position: relative;
            z-index: 99;

            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            
            top: -101.5%;
            left: 0;
            
            background-color: rgba($color-secondary, 0.5);
         
            backdrop-filter: saturate(70%) blur(1.5px);
            opacity: 0;
            color: $color-primary;
            transition: $transition-primary;
         }
      }

      &-txt{
         padding: 10px 0;
         display: flex;
         justify-content: space-between;
         h3{
            font-size: $font-size-text;
            color: $color-primary;
         }
         span{
            transform: rotate(-45deg);
            color: $color-tertiary;
            transition: $transition-secondary;
         }
      }
   }
}


// // // // // // //
// //   contact   //
// // // // // // //
#contact{

}
.form{
   display: flex;
   justify-content: center;
   height: 60vh;
   
   &__cont{
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: $media-query){
         flex-direction: column;
         column-gap: 40px;
      }
      &-column{
         display: flex;
         flex-direction: column;
         width: 45%;
         @media screen and (max-width: $media-query){
            flex-direction: column;
            width: 100%;
         }
      }
   }
      
}
form{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   row-gap: 50px;
   min-height: 50vh;
   max-width: 700px;
   width: 75%;
   @media screen and (max-width: $media-query){
      width: 100%;
   }
   input, textarea, label{
      color: $color-secondary;
      font-size: $font-size-text;
      font-family: $font-family-primary;
      background-color: transparent;
      border: none;
      transition: $transition-primary;
   }
   input, textarea{
      border-bottom: 1px solid $color-secondary;
      padding: 7.5px;
      &:focus{
         outline: none;
         border-color: $color-primary;
      }
      &:hover{
         border-color: $color-primary;
      }
   }
   label{
      margin: 30px 0 0 0;
   }
   .label-textarea{
      margin: 30px 0 38.5px 0;
   }
   textarea, input[type="submit"]{
      border: 1px solid $color-secondary;
      border-radius: 20px;
   }
   textarea{
      resize: none;
      height: 77px;
   }
   input[type="submit"]{   
      cursor: pointer;
      &:hover{
         border: 2px solid $color-primary;
      }
   }
}



// // // // // // //
// //  footer  // //
// // // // // // //
.footer{
   background-color: $background-primary;
   height: 20vh;
   min-height: 150px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   &__cont-txt{
      color: $color-primary;
      display: inline-block;
      flex-direction: column;
      width: 60%;
      text-align: center;
      margin-left: 20%;
      a{
         color: #4a4a4ab7;
      }
   }
   &__cont-cta{
      width: 20%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
   }
   a, img{
      transition: $transition-secondary;
   }
   a:hover{
      color: $color-primary;
      img{
         transform: scale(1.1);
      }
   }
}